
 
  #sideA{
    align-content: left;
    float: left;
  
    
}

#sideB{
  align-content: center;
  text-align: center;

  
}

header {
  background-color: #fff;
  
  text-align: center;
}

main{
  background-color: #ffffff;
  padding: 10px;
  
  
 }

 * {
  box-sizing: border-box;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {


padding: 10px;

color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.zoekResultatLine{     
  display: block;
}

.zoekResultat{
  color : rgb(0, 0, 0);
  border-top: 1px solid #000000;
  
  
}

main u{
  font-size: 300%;
  color: black;
  
}

u{
  font-size: 400%;
}

.thethe{
  border-bottom: 1px solid #000;
}
header h1{
font-size: 28px;
margin-bottom: 10px;
}

 h2{
font-size: 20px;

text-align: center;
}

b{
  text-align: center;
}

header{
  text-align: center;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}









.price_sec {
  flex:1 1 30%;
  text-align:center;
  padding:0 24px 24px 24px;
  box-shadow:0 4px 20px hsl(0deg 0% 0%/10%);
  border-radius:10px;
  border:solid 1px #ffffff;
  }





         

            .middle_cta {
              
              
              
              width:fit-content;
              margin:0 auto 24px;
              padding:8px 16px;
              border-radius:30px;
              font-weight:bold;
              color:#000000;
              }

                   .price__inner_list ul {
                    
                      padding:0;
                      margin:0;
                      list-style:none;
                      display:flex;
                      justify-content:space-between;
                      gap:16px;
                      flex-wrap:wrap;
                      }

                       

                         /* animation */
                        
                         .button-animation {
                          overflow: hidden;
                          position: relative;
                          transition: all 0.3s cubic-bezier(0.1, 0.3, 0.3, 0.1);
                          z-index: 9;
                        }

                        .button-animation::before{
                          bottom: 0;
                          content: '';
                          width: 100%;
                          right: 0;
                          position: absolute;
                          top: 0;
                          transition: all 0.3s cubic-bezier(0.1, 0.3, 0.3, 0.1);
                          height: 0;
                          z-index: -1;
                        }

                        .button-animation:hover::before{
                          bottom: 0;
                          transition: all 0.3s cubic-bezier(0.1, 0.3, 0.3, 0.1);
                          height: 100%;
                        }

                       

                     .button,.button-2,button{
                      fill:#fff;
                      background-color:#333;
                      border:3px solid #333;
                      border-radius:5px;color:#fff;
                      font-family:Roboto,sans-serif;
                      font-style:normal;
                      font-weight:700;
                      padding:16px 50px ;
                      text-decoration:none;
                      text-transform:none
                    }
                        .button-2:active,.button-2:focus,.button-2:hover,.button:active,.button:focus,.button:hover,button:active,button:focus,button:hover{fill:#e72404;
                          background-color:#f3f4f6;
                          border:3px solid #333;
                          color:#333;
                          font-family:Roboto,sans-serif;
                          font-style:normal;
                          font-weight:700;
                          text-decoration:none
                        
                        }


                        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


                       
                        
                        .btn{
                        
                         border-radius: 25px;
                        
                        }
                        
                        .new{
                             font-size: 12px;
                        }
                        
                       
                        
                        .active{
                        
                         background: #c3c4c9 !important;
                         border-color: #5a5a5e !important;
                         color: #000 !important;
                             font-size: 12px;
                        
                        }
                        
                        .inputs{
                        
                         position: relative;
                        
                        }
                        
                        .form-control {
                             text-indent: 15px;
                         
                         height: 45px;
                         border-radius: 0px;
                         border-bottom: 1px solid #eee;
                        }
                        
                        .form-control:focus {
                         color: #495057;
                         background-color: #fff;
                         border-color: #eee;
                         outline: 0;
                         box-shadow: none;
                         border-bottom: 1px solid blue;
                        }
                        
                        
                        .form-control:focus  {
                         color: blue;
                        }
                        
                        .inputs i{
                        
                             position: absolute;
                         top: 14px;
                         left: 4px;
                         color: #b8b9bc;
                        }
                        
                        .star{
                        
                         height: 40px;
                         width: 40px;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         background: #eee;
                         margin-right: 10px;
                         border-radius: 5px;
                        
                        }
                        
                        .time-text{
                        
                             font-size: 12px;
                             color: #989898;
                        }
                        
                        .dots{
                        
                         height: 7px;
                         width: 7px;
                         background-color: #eee;
                         display: flex;
                         border-radius: 50%;
                         margin-left:7px;
                         margin-right: 7px;
                        }
                        
                        .yellow{
                        
                         color: #ffab2e;
                        }
                        
                        .content-text-1{
                        
                         height: 40px;
                         width: 40px;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         border-radius: 50%;
                         background-color: #ffe7cc;
                         color: #ffa03a;
                         font-weight: 700;
                        
                        }
                        
                        
                        .blue{
                        
                         color: #6ecce6;
                        }
                        
                        
                        .content-text-2{
                        
                         height: 40px;
                         width: 40px;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         border-radius: 50%;
                         background-color: #e2f5fa;
                         color: #6ecce6;
                         font-weight: 700;
                        
                        }
                        
                        
                        .dark-blue{
                        
                         color: #572ce8;
                        }
                        
                        
                        .content-text-3{
                        
                         height: 40px;
                         width: 40px;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         border-radius: 50%;
                         background-color:#572ce86b;
                         color: #572ce8;
                         font-weight: 700;
                        
                        }