<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="index.html"><img src="images/3.png" alt="Logo" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <nav class="navbar .bg-dark">
      <form style="align-items: center;" class=" justify-content-start">
        <button style="margin-left: 100px;" class=".bg-dark btn btn-sm"><a href="/pages/index.html">Home</a></button>
        <div class="btn-group">
        <button class=".bg-dark btn btn-sm "><a href="/pages/events.html">Events</a></button>
        <button class=".bg-dark btn btn-sm "><a href="/pages/equipment.html">Equipment</a></button>
        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="box-shadow: none;">
          About Us
        </button>
        <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/pages/contacts.html">Contact Us</a></li>
    <li><a class="dropdown-item" href="/pages/hours.html">Hours</a></li>
    <li><a class="dropdown-item" href="/pages/locations.html">Locations</a></li>
    <li><a class="dropdown-item" href="/pages/OurTeam.html">Our Team</a></li>
        </ul>
      </div>

        <button style="margin-left: 200px;" class=".bg-dark btn btn-sm "><a href="/pages/signup.html">Sign Up</a></button>
        <button class=".bg-dark btn btn-sm "><a href="/pages/login.html">Login</a></button>
        
      </form>
    </nav>
      </ul>
    </div>
  </nav>